@import '_Navigation';


#wrapper {
  width: 100%;
}

.home-navigation {
  width: 90%;
  font-family: inherit;
  box-shadow: 3px 1px 0 1px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d; /* Old browsers */
  background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */

}

#side {
  width: 30%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px #333;
}
#side h1 {
  font-size: 24px;
}

.circle {
  width: 50%;
  box-shadow: -1px -1px 25px 2px black;
  height: auto;
  padding-bottom: 50%;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid white;
  /* box-shadow: 0px 0px 10px #222; */
  background: url('/images/SelfPhoto.JPG');
  background-size: cover;
}

.bg {
  width: 30%;
  height: 200%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: url("/images/SidebarBackground.JPG") center;
  background-size: cover;
  z-index: 1;
}

#main {
  margin: 0 0 0 35%
}

// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

